@font-face {
    font-family: 'heebomedium';
    src: url('../fonts/heebo-medium-webfont.eot');
    src: url('../fonts/heebo-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-medium-webfont.woff2') format('woff2'),
    url('../fonts/heebo-medium-webfont.woff') format('woff'),
    url('../fonts/heebo-medium-webfont.ttf') format('truetype'),
    url('../fonts/heebo-medium-webfont.svg#heebomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'heeboregular';
    src: url('../fonts/heebo-regular-webfont.eot');
    src: url('../fonts/heebo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-regular-webfont.woff2') format('woff2'),
    url('../fonts/heebo-regular-webfont.woff') format('woff'),
    url('../fonts/heebo-regular-webfont.ttf') format('truetype'),
    url('../fonts/heebo-regular-webfont.svg#heeboregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
}
/* Header */
header{
    padding-top: 27px;
}
.container{
    max-width: 1032px;
    margin: auto;
    justify-content: flex-end;
}
.d-flex{
    display: flex;
}
.menu{
    list-style: none;
}
header nav li{
    margin-left: 33px;
}
header nav li a{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    text-decoration: none;
}
/* Main */
.main-banner{
    padding-top: 140px;
    padding-bottom: 71px;
}
.container-banner{
    max-width: 858px;
    margin: auto;
    justify-content: space-between;
    align-items: start;
}
.text-banner{
    max-width: 497px;
}
.heading{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px;
}
.text{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 38px;
}
.resume{
    background: #FF6464;
    border-radius: 2px;
    padding: 13px 20px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    color: #FFFFFF;
}
.img-banner{
    max-width: 243px;
    border-radius: 50%;
    overflow: hidden;
}
.img{
    width: 100%;
    display: block
}
.posts{
    padding-top: 25px;
    padding-bottom: 32px;
    background-color: #EDF7FA;;
}
.posts .container{
    max-width: 858px;
    margin: auto;
}
.posts-heading{
    justify-content: space-between;
    align-items: center;
}
.posts h2{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 20px;
}
.posts a{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
    text-decoration: none;
}
.d-flex-container{
    display: flex;
    justify-content: space-between;
}
.posts .d-flex-container article{
    max-width: 418px;
    padding: 24px 21px 21px 23px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}
.posts .d-flex-container article h3{
    margin-bottom: 17px;
}
.posts .d-flex-container article h3 a{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    text-decoration: none;
}
.date{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 50px;
    position: relative;
}
.date:after{
    content: "";
    position: absolute;
    background-color: #000000;
    width: 1px;
    height: 100%;
    margin-left: 25px;
}
.location{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}
.posts .d-flex-container article p{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
.works-section{
    padding-top: 15px;
    padding-bottom: 83px;
}
.works-section .container{
    max-width: 858px;
    margin: auto;
}
.heading-works{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 22px;
}
.portfolio{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}
.img-works{
    max-width: 246px;
    border-radius: 6%;
    overflow: hidden;
    margin-right: 18px;
}
.img-portfolio,
.work-image img,
.work-image-2 img,
.work-image-3 img{
    width: 100%;
    display: block;
}
.text-works{
    max-width: 418px;
}
.heading-portfolio{
    margin-bottom: 2px;
}
.heading-portfolio a{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    text-decoration: none;
}
.year{
    background: #142850;
    border-radius: 16px;
    padding: 0 10px;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    margin-right: 26px;
}
.name{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    margin-bottom: 18px;
}
.text-portfolio{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
.form-section{
    padding-top: 69px;
    padding-bottom: 37px;
    background-color: #000000;
}
.form{
    max-width: 564px;
    margin: auto;
}
.form-control{
    display: none;
}
.form-name, .form-budget{
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.18);
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 17px 31px;
    border: none;
}
.form-email, .form-text{
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 17px 31px;
    border: none;
}
.form-text{
    height: 127px;
    resize: none;
    margin-bottom: 22px;
}
.button{
    text-align: center;
}
.form-button{
    background-color: transparent;
    border: solid 1px #7EC4BD;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #8BCAC3;
    padding: 15px 60px;
    border-radius: 2px;
    cursor: pointer;
}
/* Footer */
footer{
    padding-top: 51px;
    padding-bottom: 54px;
}
.footer-social{
    max-width: 858px;
    margin: auto;
    justify-content: center;
}
.social{
    margin-bottom: 26px;
    list-style: none;
}
footer li{
    margin-left: 17px;
    margin-right: 17px;
}
.text-copyright{
    max-width: 858px;
    margin: auto;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}
/* Blog-page */
.active{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FF6464;
}
.blog-section{
    padding-top: 90px;
    padding-bottom: 53px;
}
.blog-section .container{
    max-width: 681px;
    margin: auto;
}
.blog-section h1{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 23px;
}
.blog-section article{
    padding-top: 32px;
    padding-bottom: 29px;
    border-bottom: 1px solid #E0E0E0;
}
.blog-section article h3{
    margin-bottom: 16px;
}
.blog-section article h3 a{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    text-decoration: none;
}
.blog-date{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 40px;
    position: relative;
}
.blog-date:after{
    content: "";
    position: absolute;
    background-color: #000000;
    width: 1px;
    height: 100%;
    margin-left: 20px;
}
.blog-location{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.blog-section article p{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
/* Works-page */
.work-section{
    padding-top: 90px;
    padding-bottom: 58px;
}
.work-section .container{
    max-width: 681px;
    margin: auto;
}
.work-section h1{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 25px;
}
.work{
    margin-bottom: 45px;
    padding-bottom: 48px;
    border-bottom: 1px solid #E0E0E0;
}
/* Work-detail-page */
.work-detail{
    padding-top: 78px;
    margin-bottom: 27px;
}
.work-detail .container{
    max-width: 681px;
    margin: auto;
}
.work-detail h1{
    max-width: 506px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    color: #21243D;
    margin-bottom: 14px;
}
.work-year{
    background: #FF7C7C;
    border-radius: 16px;
    padding: 0 10px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    margin-right: 17px;
}
.work-name{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
}
.work-detail p{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 23px;
    margin-bottom: 46px;
}
.work-image{
    max-width: 681px;
    margin-bottom: 54px;
}
.work-detail h2{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    color: #21243D;
}
.work-detail h3{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    color: #21243D;
}
.work-text{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}
.work-image-2{
    max-width: 681px;
    margin-bottom: 27px;
}
.work-image-3{
    max-width: 681px;
}